<table align="center">
  <tr>
    <div class="serch_form">
      <%= form_with url: tagsearches_search_path, local: true, method: :get do |f| %>
      <td><%= f.text_field :content %></td>
      <td><%= f.submit'タグ検索' %></td>
      <% end %>
    </div>
  </tr>
</table>
